<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.phoenician</string>
	<key>CFBundleName</key>
	<string>Phoenician</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>KLInfo_Phoenician</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.phoenician.phoenician</string>
		<key>TISIntendedLanguage</key>
		<string>phn-Phnx</string>
	</dict>
</dict>
</plist>
